
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-weight: 400;
  display: flex;
  flex-direction: column;
 min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
        height: 5rem;
        background-color: white;
}
.fa-compass{
    font-size: 2rem;
    color: #fe424d;
}
.nav-link{
    color: #222222 !important;
}

.f-info-links a
{
   color: #222222;
   text-decoration: none;
}

.f-info-links a:hover
{

    text-decoration: underline;
}
.f-info-social{
    font-size: 1.5rem;
  
}
.f-info-links,.f-info-social,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    height: 8rem;
    background-color:#ebebeb;
    text-align: center;

}
.card-listing{
    border: none !important;
   margin-bottom:  2rem !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}
.card-body{
    padding:0 !important;
}
.listing-link{
    text-decoration: none;
}
.card-body h5,p{
    color:#222222;
}
.card-body h5{
    font-weight: 600;
}
.card-img-overlay{
    opacity: 0;

}
.card-img-overlay:hover{
    opacity: 0.4;
    background-color: white;

}

.show-img{
    height: 30vh;
   
}
.btns{
    display: flex;

}
#map{width: 100%;
     height: 500px}